<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <style>
            div { margin: 6px 0 6px 0; }
            label { color: #b3b3b3; font-size: 14px; }
            span { color: #676767; font-size: 14px; }
            .tag { margin: 0 8px 0 0; line-height: 24px; }
            .intro { color: #676767; font-size: 14px; line-height: 20px; }
            .intro p { margin: 0; }
        </style>
    </head>
    <body>
        <div>
            <label>专辑名称：</label>
            {% if album %}
                <span>{{album}}</span>
            {% else %}
                <span>无</span>
            {% /if %}
        </div>
        <div>
            <label>创建人：</label>
            {% if artist %}
                <span>{{artist}}</span>
            {% else %}
                <span>无</span>
            {% /if %}
        </div>
        <div>
            <label>分享：</label>
            {% if shares %}
                <span>{{shares}}</span>
            {% else %}
                <span>0</span>
            {% /if %}
        </div>
        <div>
            <label>标签：</label>
            {% if tags %}
                {% for tag in tags %}
                    <span class="tag">{{tag}}</span>
                {% /for %}
            {% else %}
                <span>无</span>
            {% /if %}
        </div>
        <div>
            <label>简介：</label>
            {% if intro %}
                <div class="intro">{{intro}}</div>
            {% else %}
                <span>无</span>
            {% /if %}
        </div>
    </body>
</html>